{% extends "auctions/layout.html" %}

{% block body %}
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% for item in items  %}
       
<div class="container">
<div class="mt-5">
      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                {{item.item}} 
            </h4>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <span></span>
                <span class="text-110">Category: <br> {{item.category}} </span>
            </li>
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a href="{% url 'details' item.id %}" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">More details..</a>
          </div>
        </div>

      </div>
      </div>
    </div>
</div>
    {% endfor %}
{% endblock %}