{% extends "auctions/layout.html" %}

{% block body %}
<h2 style="color: #000000; font-family: 'Trocchi', serif; font-size: 45px;">Active Listings</h2>
    <div class="card-deck" style="margin-left:20px">
    {% for item in auction_list %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-normal">{{item.category}}</h4>
              </div>
            {% if item.image %}
            <img class="card-img-top" src={{ item.image }} alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h1 class="card-title">{{ item.item }}</h1>
              <h2 class="card-title pricing-card-title">{{ item.price }} €</h2>
              <p class="card-text">{{ item.description}}</p>
            </div>
              <div class="card-footer text-center"> 
              <a class="btn btn-lg btn-block btn-outline-primary mt-auto" href="{% url 'details' item.id %}">Details</a>
            </div>
          </div>
        {% if forloop.counter|divisibleby:"4"  %}           
            </div><div class="card-deck" style="margin-left:20px">
        {% endif %}    
    {% endfor %}
    </div>
{% endblock %}